@model Prova_2_bimestre.Models.secret

@{
    ViewBag.Title = "Details";
}

<h2>Desencriptado</h2>

<div>
    <h4>CRIPT DATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.encriptacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encriptacao)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Voltar", "Index")
</p>
