@model IEnumerable<Prova_2_bimestre.Models.secret>

@{
    ViewBag.Title = "Index";
}

<h2>ENCRIPTAÇÃO</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.encriptacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.encriptacao)
        </td>
        <td>
            @Html.ActionLink("Desencriptar", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
